<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      body { background-image: url("background.jpg"); background-repeat: no-repeat; background-size: 100%; }
      .message { font-size: 1.3em; font-weight: bold; }
      .redmessage { color: red; border: 1px solid red; width: 300px; text-align: center;}
      .greenmessage { color: green; border: 1px solid green; width: 300px; text-align: center;}
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch (empty item NOT considered)"
             class="form-control" ng-model="foodItems">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p class="{{look}}">{{outputMessage}}</p>
         </div>
   </div>

</body>
</html>
